    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="stylesheets/style.css">
      <title>Express Cinema</title>
    </head>
    <body>
      <%- include('../partials/notifications') %>
      <% if (currentUser) { %>
        <p>Logged in as <%= currentUser.username %> </p> 
        <form action="/auth/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      <% } else { %>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
      <% } %>
      
      <%- body %>
    </body>
    </html>
