<h1>Introduce tu peli</h1>
<form action="/movies" method="post">
  <label for="title">Titulo</label>
  <input type="text" name="title">
  <label for="director">Director</label>
  <input type="text" name="director">
  <label for="image">Imagen</label>
  <input type="text" name="image">
  <label for="description">Descripcion</label>
  <input type="text" name="description">
  <input type="submit" value="send">
</form>